@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #efefef;
    --foreground: #222222;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #222222;
        --foreground: #efefef;
    }
} */

body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-roboto);
}
